@{
    ViewData["Title"] = "HBS - Leave History";
    Layout = "~/Views/Home/Home_Layout.cshtml";
}

    <div class="container-fluid">

        <h1 class="h3 mb-2 text-gray-800">Leave History</h1>
        <p class="mb-4">Showing past leave request history.<br>Including <strong>Pending, Approved and Rejected</strong> leave requests.</p>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Leaves Details</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Start Date</th>
                                <th>Start Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Start Date</th>
                                <th>Start Date</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
